/* Bemtorres 2022 */


/* Edición para cliente personalizado */

:root {
  --color-primario: #00bfa6;    /* Verde Azulado */
  --color-secundario: #3f3d56;  /* Morado Oscuro */
  --color-rojo: #b30000;        /* Rojo Oscuro */
  --color-amarillo: #ffd633;    /* Amarillo Suave */
}

/* Estilos para los botones */
.btn-primario {
  background-color: var(--color-primario);
  color: #fff;
}

.btn-secundario {
  background-color: var(--color-secundario);
  color: #fff;
}

.btn-rojo {
  background-color: var(--color-rojo);
  color: #fff;
}

.btn-amarillo {
  background-color: var(--color-amarillo);
  color: #000;
}

/* Estilos para textos */
.texto-primario {
  color: var(--color-primario);
}

.texto-secundario {
  color: var(--color-secundario);
}

.texto-rojo {
  color: var(--color-rojo);
}

.texto-amarillo {
  color: var(--color-amarillo);
}


/* Estilos para las tarjetas */
.card-primario {
  border-color: var(--color-primario);
}

.card-secundario {
  border-color: var(--color-secundario);
}

.card-rojo {
  border-color: var(--color-rojo);
}

.card-amarillo {
  border-color: var(--color-amarillo);
}

/* Estilo para el texto dentro de la tarjeta */
.card-primario .card-text,
.card-secundario .card-text,
.card-rojo .card-text,
.card-amarillo .card-text {
  color: var(--color-primario);
}


/* OTROS */

.handle {
  cursor: pointer;
}
